   <a href="" class="anchor-hidden">
    <div class="embed-responsive embed-responsive-16by9">
    <img src="" class="card-img-top embed-responsive-item" alt="...">
    </div>
      <div class="card-body">
        <h4 class="card-title">
          {{ item.title }}
          </h4>


        <h5>{{ "%.2f PLN" | format(item.price) }}</h5>
        <p class="card-text">{{item.description}}</p>


    </div>
    <div class="card-footer">
      <small class="text-muted"> {{item.category_name}} -> {{item.subcategory_name}}
      </small>
    </div>
      </a>
